.lines {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.line-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
    border-radius: 5px;
    max-width: 40rem;
    width: max-content
}

.type-line {
    display: flex;
    align-items: center;
    height: 2rem;
    
    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.line{
    display: flex;
    height: 2rem;
    border-radius: 5px;
    border: black 1px solid;
    padding: 0.1rem;

    .line-name{
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 5px;

        height: 100%;
        padding-inline: 0.25rem;
        display: flex;
        align-items: center;
        min-width: 2.2rem;
        justify-content: center;
    }

    .accessible{
        margin-left: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    img {
        width: 1.2rem;
        height: 1.2rem;
    }

}